
.sidenav{
  padding-top: 30px;
  height: 100%;
  width:200px;
  position: fixed;
  z-index:1;
  top: 0;
  left:0;
  background-color: rgba(107, 226, 220, .75);
}
h1{
  font-family: 'Comfortaa';
  letter-spacing: 6px;
  font-size: 70px;
  color: rgb(255, 255, 255);  
}
hr {
  box-shadow: 3px 3px 3px rgb(29, 119, 119); 
  border-color: transparent;
}

.form-box{
  padding: 100px;
  text-align: left;
  margin-left: 100px;
}
body {
  background-image: url(https://www.xmple.com/wallpaper/gradient-white-linear-blue-3840x2160-c2-00ced1-f5f5f5-a-90-f-14.svg);
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}
button {
  margin: 20px;
}
.card {
  text-align: center;
  margin: auto;
  border: solid lightgray 3px;
}
a{
  color: aliceblue;
  font-family: 'Comfortaa';
  letter-spacing: 2px;
  font-size: 20px;
}
#navImg {
  width: 170px;
}
#loginImg {
  width: 400px;
  margin: auto;
  padding-top: 8px;
}
#loginCard {
  margin-top: 10%;
}
.reply {
  font-size: 15px;
}
.btn {
  background-color: rgb(80, 80, 80);
  border-color: rgb(100, 100, 100);
  box-shadow: -1px 3px 4px gray;
}