
.sidenav{
  padding-top: 30px;
  height: 100%;
  width:200px;
  position: fixed;
  z-index:1;
  top: 0;
  left:0;
  background-color:rgba(40,232,223,.75);
}
h1{
  font-family: 'Comfortaa';
  letter-spacing: 6px;
  font-size: 70px;
  color: rgb(255, 255, 255);  
}
hr {
  box-shadow: 3px 3px 3px rgb(29, 119, 119); 
  border-color: transparent;
}

.form-box{
  padding: 100px;
  text-align: left;
  margin-left: 100px;
}
body {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(40,232,223,1) 100%); 
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}
button {
  margin: 20px;
  font-family: 'Comfortaa';
}
.card {
  text-align: center;
  margin: auto;
  border: solid lightgray 3px;
}
a{
  color: white;
  font-family: 'Comfortaa';
  letter-spacing: 2px;
  font-size: 20px;
}
#navImg {
  width: 170px;
  background-color:rgba(40,232,223,1);
}
#loginImg {
  width: 400px;
  margin: auto;
  padding-top: 8px;
}
#loginCard {
  margin-top: 10%;
}
.reply {
  font-size: 15px;
}
.btn {
  background-color: rgb(80, 80, 80);
  border-color: rgb(100, 100, 100);
  box-shadow: -1px 3px 4px gray;
}
label {
  font-style: unset;
}
#userPage {
  padding-top: 10px;
  padding-bottom: 10px;
}